* {
  box-sizing: border-box;
  text-align: center;
}

html{
  background-color: black;
}

body{
  background-color: white;
  margin: auto;
  width: 768px;
}

section{
  margin-left: 142px;
  width: 480px;
}

div{
  width: 240px;
  height: 250px;
  line-height: 250px;
}
