* {
  box-sizing: border-box;
  text-align: center;
}

html{
  background-color: white;
}

body{
  background-color: white;
  margin: auto;
  width: 768px;
}

section{
  margin-left: 142px;
  width: 480px;
}

div{
  height: 250px;
  line-height: 250px;
  width: 240px;
}

@media only screen and (min-width: 786px){
  body{
    width: 960px;
  }

  div{
    height: 250px;
    width: 190px;
  }

  section{
    margin-left: 0px;
  }
}
