section:nth-child(1){ 
  background-color: red;
  border: 1px solid black;
  line-height: 75px;
}

section:nth-child(2){
  background-color: orange;
  border: 1px solid black;
  line-height: 150px;
}

section:nth-child(3){
  background-color: yellow;
  border: 1px solid black;
  line-height: 125px;
}

section:nth-child(4){
  background-color: green;
  border: 1px solid black;
  line-height: 125px;
}

section:nth-child(5){
  background-color: blue;
  border: 1px solid black;
}

section:nth-child(6){
  background-color: indigo;
  border: 1px solid black;
}

section:nth-child(7){
  background-color: violet;
  border: 1px solid black;
}

section:nth-child(8){
  background-color: red;
  border: 1px solid black;
}

section:nth-child(9){
  background-color: orange;
  border: 1px solid black;
  line-height: 80px;
}

@media only screen and (min-width: 500px){

  section:nth-child(1){
    background-color: rgb(53, 24, 24);
    
  }

  section:nth-child(2){
    background-color: rgb(49, 40, 24);
    line-height: 750px;
  }

  section:nth-child(3){
    background-color: rgb(44, 44, 23);
  }

  section:nth-child(4){
    background-color: rgb(35, 66, 35);
  }

  
  section:nth-child(5){
    background-color: rgb(23, 23, 51);
    border: 1px solid black;
  }
  
  section:nth-child(6){
    background-color: rgb(32, 20, 42);
    border: 1px solid black;
  }
  
  section:nth-child(7){
    background-color: rgb(46, 35, 46);
    border: 1px solid black;
  }
  
  section:nth-child(8){
    background-color: rgb(66, 28, 28);
    border: 1px solid black;
  }

  section:nth-child(9){
    background-color: rgb(51, 42, 25);
  }
}


@media only screen and (min-width: 786px){

  section:nth-child(1){
    background-color: rgb(255, 111, 111);
    line-height: 100px;
  }

  section:nth-child(2){
    background-color: rgb(255, 210, 125);
    line-height: 600px;
  }

  section:nth-child(3){
    background-color: rgb(255, 255, 129);
    line-height: 200px;
  }

  section:nth-child(4){
    background-color: rgb(132, 255, 132);
    line-height: 200px;
  }

  
  section:nth-child(5){
    background-color: rgb(115, 115, 255);
    border: 1px solid black;
    order: 1;
  }
  
  section:nth-child(6){
    background-color: rgb(97, 58, 126);
    border: 1px solid black;
    order: 2;
  }
  
  section:nth-child(7){
    background-color: rgb(243, 192, 243);
    border: 1px solid black;
    order: 3;
  }
  
  section:nth-child(8){
    background-color: rgb(255, 109, 109);
    border: 1px solid black;
    order: 4;
  }

  section:nth-child(9){
    background-color: rgb(255, 209, 123);
    line-height: 150px;
  }
}